body {
    font-family: sans-serif;
}
header {
    background-color:hsl(175, 75%, 42%);
    padding: 20px;
    height: 50px;
}
h1 {
    text-align: center;
    border-radius: 10px ;
    border:2px solid  ;
    color: black(140, 0, 255, 0.836);
